@page
@model Admin.Pages.Housekeeping.Manage.UsersModel
@{
	ViewData["Title"] = "Manage Users";
}

<html>
	<head></head>
	<body>
		<span class="fa-stack fa-1x" style="flex-shrink: 0;">
			<i class="fas fa-shield fa-stack-2x tool-neutral"></i><i class="fas fa-a fa-stack-1x fa-inverse"></i>
		</span>
		<div class="holder">
			<div class="tools">	
				<div class="tool-group">
					<div class="tool-group-title">
						User settings
					</div>
					<div class="tool-group-tools">
						<ul class="tool-items">
							<li class="tool-item tool-item-top tool-item-bottom tool-item-current">Manage users</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="main-content-holder">
				<div class="manage-holder">

					<div class="banner">
							<h1 class="banner-channel-name">Users</h1>
					</div>

					<div class="settings-holder">
						<table class="table table-striped">
							<tr>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
