html {
    font-size: 14px;
}

html {
    position: relative;
    margin: 0;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.navbar {
    background-color: #2b2638;
}

.navbar-brand {
    display: inline;
}


.tools {
    margin-left: 1%;
    width: fit-content;
}

.tool-group {
    width: 300px;
    font-size: 14px;
}

.not-top {
    margin-top:20px;
}

.tool-group-title {
    background-color: #4974a5;
    color: white;
    padding: 5px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.tool-group-tools {
}

.tool-item {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

    .tool-item:hover {
        background-color: #dee2e6;
        cursor: pointer;
    }

    .tool-item:active {
        background-color: #bdc5cd;
        cursor: pointer;
    }

.tool-item-current {
    background-color: #bdc5cd;
}

.tool-item-top {
    border-top:2px solid black;
}

.tool-item-bottom {
    border-bottom:2px solid black;
}

.tool-items {
    list-style-type: none;
    padding-left: 0;
    height: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.holder {
    display:flex;
    height:100%;
    border:1px solid purple;
}

.main-content-holder {
    border: 2px solid red;
    width: 100%;
    user-select:text;
}

.databases-holder {
    text-align:center;
}

.databases-list {
    display:inline-block;
    border:1px solid black;
    height:fit-content;
    margin-top:10px;
}

.database {
    background-color: rebeccapurple;
    color: white;
    display: inline;
    user-select: text;
    padding:3px 3px 3px 3px;
    border-radius:0.4rem;
}

.database:hover {
    cursor:pointer;
}

.database-not-first {
    margin-left:5px;
}

.manage-holder {
    border: 2px solid purple;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    background-color: #f2f2f5;
}

.banner {
    border:2px solid blue;
    background-image:url("triangles-download.png");
    color:white;
    padding: 10px;
    border-radius:1%;
}

.settings-holder {
    border:2px solid green;
}

.settings-group {
    border:2px solid cyan;
    width:fit-content;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
}

.setting {
    border:2px solid orange;
    width:400px;
    display:inline-block;
    background-color:#fff;
}

.setting-second {
    margin-left:40px;
    margin-right:40px;
}

.setting-header {
    background-color: #524063;
    color:#fff;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #bdb6d3;
}

.setting-title {
    border:1px solid rebeccapurple;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    background-color:rebeccapurple;
    color:white;
    margin-top:10px;
    border-radius:50rem;
    padding:0.20rem 0.40rem;
}

.setting-content-holder {
    border:2px solid yellow;
}

.emote {
    height:48px;
    width:48px;
}

.rank-number {
    text-align:center;
    background-color:rebeccapurple;
    color:white;
}

.rank-first, .rank-second, .rank-third {
    font-weight:700;
}

.rank-number-first {
    background-color: #ffcc00;
}

.rank-number-second {
    background-color: #cccccc;
}

.rank-number-third {
    background-color: #aa9270;
}

.live {
    color:red;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}

.circle {
    width:16px;
    height:16px;
    border-radius:50%;
    background-color:red;
    margin-left:auto;
    margin-right:auto;
}

.pulse {
    -webkit-animation: pulse 2s ease-out infinite both;
    animation: pulse 2s ease-out infinite both;
}

.rank-table {
    border-collapse:separate;
    border-spacing: 0 0.5rem;
}

.manage-emote {
    height:32px;
    width:32px;
}

.badge-twitch {
    background-color: #9146FF;
}

.badge-bttv {
    background-color: #BD1C13;
}

.badge-ffz {
    background-color: #68442C;
}

.badge-enabled {
    background-color: #198754;
}

.badge-disabled {
    background-color: #6C757D;
}

.side-link {
    display:inline-block;
    width:100%;
}

.banner-channel-name {
    display:inline-block;
}

.banner-back {
    background-color:rebeccapurple;
    border:1px solid black;
    padding:5px;
    border-radius:5%;
    float:right;
}

.tool-neutral {
    color: #6C757D;
}

.tool-read {
    color: #0D6EFD;
}

.button-not-last {
    margin-right:5px;
}

.prefix-icon {
    display:inline;
    margin-right:5px;
}

.tool-row {
    width:100%;
}

.tool-row-tools {
    width:fit-content;
    margin-left:auto;
}

.stack-button:hover {
    cursor:pointer;
}

.fa-stack {
    flex-shrink:0;
}

.center {
    text-align:center;
}





















@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}







.spinner {
    width: 0.5rem;
    height: 0.5rem;
    border: 0.15rem solid #fff;
    border-bottom: 0.25rem solid rgba(0,0,0,0);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display:inline-block;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}